<div id="container" class="m-5">
<h1>Stupid Coach</h1>
<div class="alert alert-light">
<p><%=@question %></p>
<p>-You</p>
</div>
<div class="alert alert-warning">
<p><%=@answer%></p>
<p>-Coach</p>
</div>
<div>
<%= link_to 'Ask something else', './ask' %>
</div>
</div>
